body{
    background-color: #181818;
    padding: 0%;
    margin: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.fram{
    align-items: center;
    width : 350px;
    height: 550px;
    text-align: center;
    margin: auto;
    background-color: #8758FF;
    border-radius: 15px;
}

input{
    background-color: rgb(206, 206, 206);
    border: 1px solid #e4e5e7;
    border-radius: 15px;
    width: 285px;
    height: 80px;
    margin: 10px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 18px;
}
#c{
    background-color: coral;
    transition: background-color .90ms ease-in-out;
}
#equal{
    background-color: rgba(45, 175, 33, 0.4);
    width: 315px;
    transition: background-color .90ms ease-in-out;
}
#equal:active{
    background-color: rgba(65, 247, 48, 0.4);
}
#c:active{
    background-color: rgba(71, 83, 18, 0.4);
}
button{
    background-color: #5CB8E4;
    border: 1px solid #33667e;
    border-radius: 40px;
    width: 65px;
    height: 65px;
    margin: 7px;
    font-size: 30px;
    font-weight: 600;
    transition: background-color .90ms ease-in-out;
}
button:active{
    background-color: #046a99;
}
